body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

#flexContainer{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-content: center;
}

#gameCanvas {
    padding: 0;
    margin: 0;
    background: linear-gradient(
    0deg,
    rgba(78, 103, 148, 1) 0%,
    rgba(208, 102, 202, 1) 100%
  );
}
