body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: rgb(44, 44, 44);
}

#container{
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100vh;
}

#gameCanvas {
    padding: 0;
    background: linear-gradient(
    0deg,
    rgba(78, 103, 148, 1) 0%,
    rgba(208, 102, 202, 1) 100%
  );
}
